---
---

@import "{{ site.theme }}";

.c { color: #004F9D; }

}

h1, h2, h3, h4, h5, h6 {
  color:#004F9D;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#004F9D;
}

h3, h4, h5, h6 {
  color:#004F9D;
}

a {
  color:#3E4B1D;
  text-decoration:none;
}

a:hover, a:focus {
  color:#3E4B1D;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#3E4B1D;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#3E4B1D
}

strong {
  color:#00254A;
  font-weight:700;
}
